<div class="page_wrapper">
  <h1><%= link_to "InstantTube", root_path %></h1>

  <%= form_tag(root_path, method: "get") do %>
    <%= label_tag(:search, "Search for Videos Here") %><br>
    <br>
    <%= text_field_tag :search %><br>
    <br>
    <%= submit_tag "Search" %>
  <% end %>

  <div class="row">
    <% @videos.videos.each do |video| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag(video['snippet']['thumbnails']['high']['url']) %>
        <div class="caption">
          <h3><%= video['snippet']['title'] %></h3>
          <p><%= video['snippet']['description'] %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>